.market-place {
    display: flex;
    margin: 1.5vw 15vw;
    flex-direction: column;
}

h1 {
    text-align: center;
    font-size: 2.5vw;
    letter-spacing: 0.5vw;
}

.shopping-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1vw 0;
    border: 2px solid rgb(218, 212, 212);
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
}

.item-info {
    display: flex;
    flex-direction: column;
    font-size: 1.5vw;
    margin: auto 2vw;
}

.item-name span, .item-price span, .item-shop span {
    font-style: italic;
    font-weight: bold;
}

.item-price:after{
    content: '₪';
}

.item-img {
    object-fit: cover;
    width: 20vw;
    height: 15vw;
}